<footer class="footer">
    <nav class="nav1">
        <ul class="list1">
            <li><a class="link" href="https://adalab.es/" target="_blank">articles</a> </li>
            <li><a class="link" href="https://adalab.es/" target="_blank">books</a> </li>
            <li><a class="link" href="https://adalab.es/" target="_blank">events</a> </li>
            <li><a class="link" href="https://adalab.es/" target="_blank">reasons</a> </li>
            <li><a class="link" href="https://adalab.es/" target="_blank">tips</a> </li>
        </ul>
    </nav>
    <nav class="nav2">
        <ul class="list2">
            <li><a class="link" href="https://adalab.es/" target="_blank">twitter</a> </li>
            <li><a class="link" href="https://adalab.es/" target="_blank">instagram</a> </li>
            <li><a class="link" href="https://adalab.es/" target="_blank">mastodon.social</a> </li>
        </ul>

    </nav>
    <small class=copy> &copy;2022 we<i class="fa-solid fa-heart fa-xs " style="color:#f26002"></i>components</small>
</footer>