// fonts
$font-main: "Roboto", sans-serif;

// colors
$color-bg: #ffffff;
$color-secondary: #999;
$color-orange: #f26002;
$color-bluedark: #304268;
$color-bluemedium: #0271bc;
$color-bluligth: #8ccbea;
