.nav-header {
  background-color: $color-bluemedium;
  width: 30px;
  position: fixed;
  z-index: 99;
}

.menu {
  display: inline-block;
  color: $color-bg;
  &:hover:visited {
    color: $color-bg;
  }
  margin-left: 2.6px;
  padding: 5px;
  text-align: center;
}

@media all and (min-width: 768px) {
  .nav-header {
    width: 41.6px;
    height: 44px;
  }
  .menu {
    text-align: center;
    transform: scale(1.3);
    padding-top: 11px;
    padding-left: 10px;
  }
}

@media all and (min-width: 1280px) {
  .nav-header {
    width: 44px;
    height: 44px;
  }
  .menu {
    transform: scale(1.5);
  }
}
